<footer class="footer">
    <div class="footer-content">
      <div class="column">
        <h3>Doméstius</h3>
        <ul>
          <li>Sobre nosaltres</li>
          <li>Correu Electrònic</li>
          <li>Telèfon</li>
          <li>Xarxes Socials</li>
        </ul>
      </div>
  
      <div class="column">
        <h3>El teu impacte comença aquí</h3>
        <ul>
          <li>Publicar Animal Perdut</li>
          <li>Veure animals trobats</li>
          <li>Col·labora amb Protectores</li>
          <li>Com funciona</li>
        </ul>
      </div>
  
      <div class="column">
        <h3>La teva privacitat importa</h3>
        <ul>
          <li>Termes i condicions</li>
          <li>Ús de cookies</li>
          <li>Política de privacitat</li>
          <li>Moderació de Contingut</li>
        </ul>
      </div>
  
  
  
    </div>
  
    <div class="footer-bottom">
      <p>Copyright © 2025 Doméstius.</p>
      <p>Fet amb ❤️ per ajudar a trobar animals perduts.</p>
    </div>
  </footer>
  