<footer class="footer">
  <div class="footer-wave">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 1440 100"
      preserveAspectRatio="none"
    ></svg>
  </div>

  <div class="footer-content">
    <div class="footer-column">
      <div class="column-header">
        <i class="fas fa-paw"></i>
        <h3>Doméstius</h3>
      </div>
      <ul class="footer-links">
        <li>
          <a [routerLink]="['/sobre-nosotros']"
            ><i class="fas fa-info-circle"></i> Sobre nosaltres</a
          >
        </li>
        <li>
          <a href="mailto:contacto@domestius.com"
            ><i class="fas fa-envelope"></i> Contacte</a
          >
        </li>
        <li>
          <a href="tel:666666666"><i class="fas fa-phone"></i> Telèfon</a>
        </li>
        <li>
          <a href="https://maps.app.goo.gl/na5uRSQigzE9KSFV6" target="_blank"
            ><i class="fas fa-map-marker-alt"></i> On som</a
          >
        </li>
      </ul>
    </div>

    <div class="footer-column">
      <div class="column-header">
        <i class="fas fa-heart"></i>
        <h3>El teu impacte</h3>
      </div>
      <ul class="footer-links">
        <li>
          <a
            [routerLink]="['/afegir-publicacio']"
            [queryParams]="{ tipo: 'perdido' }"
            (click)="scrollToTop()"
            ><i class="fas fa-bullhorn"></i> Publicar Animal Perdut</a
          >
        </li>
        <li>
          <a [routerLink]="['/que-fer-animal-perdut']">
            <i class="fas fa-question-circle"></i> Que fer si trobes un animal
            perdut?
          </a>
        </li>
        <li>
          <a [routerLink]="['/protectora']" (click)="scrollToTop()"
            ><i class="fas fa-hands-helping"></i> Col·labora amb Protectores</a
          >
        </li>
        <li>
          <a href="assets/EricGomez_MartaRodrigo_ManualUsuari.pdf" download="EricGomez_MartaRodrigo_ManualUsuari.pdf">
            <i class="fas fa-question-circle"></i> Com funciona
          </a>
        </li>
      </ul>
    </div>

    <div class="footer-column">
      <div class="column-header">
        <i class="fas fa-shield-alt"></i>
        <h3>Privacitat</h3>
      </div>
      <ul class="footer-links">
        <li>
          <a [routerLink]="['/termes-i-condicions']" (click)="scrollToTop()"
            ><i class="fas fa-file-contract"></i> Termes i condicions</a
          >
        </li>
        <li>
          <a [routerLink]="['/us-de-cookies']" (click)="scrollToTop()"
            ><i class="fas fa-cookie"></i> Ús de cookies</a
          >
        </li>
        <li>
          <a [routerLink]="['/politica-privacidad']" (click)="scrollToTop()"
            ><i class="fas fa-user-shield"></i> Política de privacitat</a
          >
        </li>
        <li>
          <a [routerLink]="['/moderacio-de-contingut']" (click)="scrollToTop()"
            ><i class="fas fa-balance-scale"></i> Moderació de Contingut</a
          >
        </li>
      </ul>
    </div>

    <div class="footer-column">
      <div class="column-header">
        <i class="fas fa-globe"></i>
        <h3>Segueix-nos</h3>
      </div>
      <div class="social-icons">
        <a
          href="https://github.com/EricGomezPerez"
          class="social-icon"
          target="_blank"
          ><i class="fab fa-github"></i>
        </a>
        <a
          href="https://github.com/maartaa10"
          class="social-icon"
          target="_blank"
          ><i class="fab fa-github"></i
        ></a>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <p>
      Copyright © 2025 Doméstius <span class="heart-icon">❤️</span> Fet amb amor
      per ajudar a trobar animals perduts.
    </p>
    <div class="footer-nav">
      <a [routerLink]="['/inici']" (click)="scrollToTop()">Inici</a>
      <a [routerLink]="['/faq']" (click)="scrollToTop()">FAQ</a>
      <a [routerLink]="['/webgrafia']" (click)="scrollToTop()">Mapa del lloc</a>
    </div>
  </div>
</footer>
