<div class="publicacions-container">
  <div *ngFor="let publicacio of publicacions" class="publicacio-card" (click)="navigateToPublicacio(publicacio.id)">
    <h3>{{ publicacio.tipus }}</h3>
    <p><strong>Fecha:</strong> {{ publicacio.data }}</p>
    <p><strong>Detalles:</strong> {{ publicacio.detalls }}</p>
    <p><strong>Publicado por:</strong> {{ publicacio.usuari?.nom }}</p>
    <p><strong>Animal:</strong> {{ publicacio.animal?.nom }}</p>
  </div>
</div>

<!-- <div class="details-container" *ngIf="selectedPublicacio">
  <div class="animal-details">
    <h3>Datos del Animal</h3>
    <p><strong>Nombre:</strong> {{ selectedPublicacio.animal?.nom }}</p>
    <p><strong>Edad:</strong> {{ selectedPublicacio.animal?.edat || 'No disponible' }}</p>
    <p><strong>Especie:</strong> {{ selectedPublicacio.animal?.especie }}</p>
    <p><strong>Raza:</strong> {{ selectedPublicacio.animal?.['raça'] || 'No disponible' }}</p>
    <p><strong>Descripción:</strong> {{ selectedPublicacio.animal?.descripcio || 'No disponible' }}</p>
    <p><strong>Estado:</strong> {{ selectedPublicacio.animal?.estat }}</p>
  </div> -->

<!--   <div class="interactions">
    <h3>Interacciones</h3>
    <div *ngIf="interaccions.length > 0; else noInteractions">
      <div class="interaction-card" *ngFor="let interaccio of interaccions">
        <p><strong>Acción:</strong> {{ interaccio.accio }}</p>
        <p><strong>Fecha:</strong> {{ interaccio.data }}</p>
        <p><strong>Detalles:</strong> {{ interaccio.detalls }}</p>
      </div>
    </div>
    <ng-template #noInteractions>
      <p>No hay interacciones para esta publicación.</p>
    </ng-template>
  </div> -->
