/* Contenedor principal del grid */
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Ajusta el número de columnas automáticamente */
  gap: 20px; /* Espaciado entre las tarjetas */
  padding: 20px;
  background-color: #bfe3c0;
  margin-top: 70px;
}

/* Estilo para cada tarjeta de animal */
.animal-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
}

/* Imagen del animal */
.animal-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 15px;
}

/* Información del animal */
.info p {
  margin: 5px 0;
  font-size: 14px;
  color: #333;
}

/* Botones de estado */
.status-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.status-buttons .btn {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  color: #fff;
}

.status-buttons .btn.lost {
  background-color: #ff6b6b;
}

.status-buttons .btn.last-seen {
  background-color: #ffa502;
}

.status-buttons .btn.found {
  background-color: #2ed573;
}
@media (max-width: 575px) {
  .container {
      max-width: 100%; /* Ajusta el max-width per a pantalles molt petites */
  }
}

/* Estils per a pantalles mitjanes (576px a 768px) */
@media (min-width: 576px) and (max-width: 767px) {
  .container {
      max-width: 100%; /* Ajusta el max-width per a pantalles petites */
  }
}

/* Estils per a pantalles mitjanes-altes (768px a 992px) */
@media (min-width: 768px) and (max-width: 991px) {
  .container {
      max-width: 100%; /* Ajusta el max-width per a pantalles mitjanes */
  }
}

/* Estils per a pantalles grans (992px a 1200px) */
@media (min-width: 992px) and (max-width: 1199px) {
  .container {
      max-width: 100%; /* Ajusta el max-width per a pantalles grans */
  }
}

/* Estils per a pantalles molt grans (1200px a 1400px) */
@media (min-width: 1200px) and (max-width: 1399px) {
  .container {
      max-width: 100%; /* Ajusta el max-width per a pantalles molt grans */
  }
}

/* Estils per a pantalles extra grans (1400px i més) */
@media (min-width: 1400px) {
  .container {
      max-width: 100%; /* Ajusta el max-width per a pantalles extra grans */
  }
}