.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
  background-color: #bfe3c0;
  margin-top: 70px;
}

.animal-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
}

.animal-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 15px;
}

.info p {
  margin: 5px 0;
  font-size: 14px;
  color: #333;
}

.status-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.status-buttons .btn {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  color: #fff;
}

.status-buttons .btn.lost {
  background-color: #ff6b6b;
}

.status-buttons .btn.last-seen {
  background-color: #ffa502;
}

.status-buttons .btn.found {
  background-color: #2ed573;
}

.publicacions-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
  margin-top: var(--navbar-height);
}

.animal-image {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 10px auto;
  object-fit: cover;
}

.publicacio-card {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 15px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button.action-button.edit {
  background-color: #2196f3;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  margin-right: 10px;
}

button.action-button.edit:hover {
  background-color: #1976d2;
  transform: scale(1.1);
}

button.action-button.delete {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

button.action-button.delete:hover {
  background-color: #d32f2f;
  transform: scale(1.1);
}

@media (max-width: 575px) {
  .container {
    max-width: 100%;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .container {
    max-width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .container {
    max-width: 100%;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    max-width: 100%;
  }
}

@media (min-width: 1200px) and (max-width: 1399px) {
  .container {
    max-width: 100%;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 100%;
  }
}