<div class="container">
  <h1 class="title">Doméstius</h1>
  
  <div class="split-screen">
    <!-- Panel de Animals Perduts -->
    <div class="side animal-side hover-animation">
      <div class="side-content initial">
        <h2>ANIMALS PERDUTS</h2>
      </div>
      <div class="side-content details">
        <div class="section-title">ANIMALS PERDUTS</div>
        <p>Aquesta pàgina és un espai dedicat a ajudar a reconnectar les persones amb els seus animals perduts i fomentar l'adopció responsable. Amb la col·laboració de protectores i refugis registrats, oferim una plataforma on es poden publicar casos d'animals perduts, trobats o disponibles per a l'adopció.</p>
        <p>El nostre objectiu és crear una comunitat solidària que millori la qualitat de vida dels animals i ajudi a les persones a trobar el seu company pelut o a oferir-li una nova oportunitat a aquells que necessiten ser adoptats.</p>
        <div class="buttons">
          <button class="bone" (click)="navigate('animal-publicacio'); $event.stopPropagation()">
            <div class="c1"></div>
            <div class="c2"></div>
            <div class="c3"></div>
            <div class="c4"></div>
            <div class="b1">
              <div class="b2">Entrar</div>
            </div>
          </button>
        </div>
      </div>
    </div>
    
    <!-- Panel de Protectora -->
    <div class="side protector-side hover-animation">
      <div class="side-content initial">
        <h2>PROTECTORA</h2>
      </div>
      <div class="side-content details">
        <div class="section-title">PROTECTORA</div>
        <p>Aquesta pàgina és un espai dedicat a donar suport a les protectores d'animals i a promoure l'adopció responsable. Amb la col·laboració de protectores i refugis registrats, oferim una plataforma on podeu publicar animals disponibles per a l'adopció.</p>
        <p>El nostre objectiu és crear una xarxa solidària que ajudi les protectores a arribar a més persones i trobar nous companys per als animals que tenen a càrrec.</p>
        <div class="buttons">
          <button class="bone" (click)="navigate('protectora'); $event.stopPropagation()">
            <div class="c1"></div>
            <div class="c2"></div>
            <div class="c3"></div>
            <div class="c4"></div>
            <div class="b1">
              <div class="b2">Entrar</div>
            </div>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>