html, body {
 /*  margin: 0;
  padding: 0; */
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  background-color: #bfe3c0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  width: 100%;
  background-color: #bfe3c0;
  text-align: center;
  position: relative;
}

  
  .title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #4b83e5;
    margin-top: 20px;
    transition: opacity 0.5s;
  }
  
  .options {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    /* transition: opacity 0.5s; */
  }
  
  .option {
    flex: 1;
    text-align: center;
    font-size: 1.5rem;
    cursor: pointer;
    /* transition: transform 0.5s; */
  }
  
  .separator {
    width: 2px;
    height: 90vh;
    background-color: black;
    transition: opacity 0.5s;
  }
  
  .protector-info, .animal-info {
    position: absolute;
    top: 60%;
    width: 80%;
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: opacity 0.5s;
  }
  
  .slide-left {
    transform: translateX(-100%);
  }
  
  .slide-right {
    transform: translateX(100%);
  }
  
  .hidden {
    opacity: 0;
  }
  
  .hide {
    opacity: 0;
  }
  
  .bone {
    margin: 20px;
    position: relative;
    width: 150px;
    height: 60px;
    cursor: pointer;
    background: transparent;
    border: none;
  }
  
  .c1, .c2, .c3, .c4 {
    background: #fff;
    height: 30px;
    width: 30px;
    border: 1px solid #000;
    border-radius: 50%;
    position: absolute;
  }
  
  .c1 {
    left: 0;
    top: 0;
  }
  
  .c2 {
    right: 0;
    top: 0;
  }
  
  .c3 {
    left: 0;
    bottom: 0;
  }
  
  .c4 {
    bottom: 0;
    right: 0;
  }
  
  .b1 {
    background: #fff;
    height: 30px;
    width: 120px;
    position: absolute;
    left: 15px;
    top: 15px;
  }
  
  .b2 {
    position: absolute;
    left: 15px;
    top: 0;
    width: 90px;
    height: 30px;
    line-height: 30px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    text-align: center;
  }

  /* fitxer styles.css o fitxer CSS del component */
 
/* Estils per a pantalles petites (menys de 576px) */
@media (max-width: 575px) {
  .container {
      max-width: 100%; /* Ajusta el max-width per a pantalles molt petites */
  }
}

/* Estils per a pantalles mitjanes (576px a 768px) */
@media (min-width: 576px) and (max-width: 767px) {
  .container {
      max-width: 100%; /* Ajusta el max-width per a pantalles petites */
  }
}

/* Estils per a pantalles mitjanes-altes (768px a 992px) */
@media (min-width: 768px) and (max-width: 991px) {
  .container {
      max-width: 100%; /* Ajusta el max-width per a pantalles mitjanes */
  }
}

/* Estils per a pantalles grans (992px a 1200px) */
@media (min-width: 992px) and (max-width: 1199px) {
  .container {
      max-width: 100%; /* Ajusta el max-width per a pantalles grans */
  }
}

/* Estils per a pantalles molt grans (1200px a 1400px) */
@media (min-width: 1200px) and (max-width: 1399px) {
  .container {
      max-width: 100%; /* Ajusta el max-width per a pantalles molt grans */
  }
}

/* Estils per a pantalles extra grans (1400px i més) */
@media (min-width: 1400px) {
  .container {
      max-width: 100%; /* Ajusta el max-width per a pantalles extra grans */
  }
}