<div class="detall-animal-publicacio-container" [class.blur-background]="showContactForm" *ngIf="animal">
  <!-- Enlace para volver atrás -->
  <div class="back-link-container">
    <a class="back-link" (click)="goBack()"><i class="fas fa-arrow-left"></i> Tornar a la llista</a>
  </div>

  <!-- Título del animal -->
  <div class="animal-header">
    <h1 class="animal-name">{{ animal.nom }}</h1>
  </div>

  <!-- Contenedor principal -->
  <div class="content-grid">
    <!-- Información del animal -->
    <div class="card animal-card">
      <div class="card-header">
        <i class="fas fa-paw"></i>
        <h3>Dades de l'Animal</h3>
      </div>
      <div class="card-content">
        <div class="animal-image-container">
          <img [src]="animal.imatges[currentImageIndex]" alt="Foto de {{ animal.nom }}" class="animal-image" />
        </div>
        <div class="carousel-controls">
          <button class="carousel-control prev" (click)="prevImage()">&#10094;</button>
          <button class="carousel-control next" (click)="nextImage()">&#10095;</button>
        </div>
        <div class="animal-info">
          <p><strong>Edat:</strong> {{ animal.edat || 'No disponible' }}</p>
          <p><strong>Espècie:</strong> {{ animal.especie || 'No disponible' }}</p>
          <p><strong>Raça:</strong> {{ animal['raça'] || 'No disponible' }}</p>
          <p><strong>Descripció:</strong> {{ animal.descripcio || 'No disponible' }}</p>
          <p><strong>Estat:</strong> {{ animal.estat || 'No disponible' }}</p>
          <p><strong>Es porta bé amb gats:</strong> {{ animal.compatibleGats ? 'Sí' : 'No' }}</p>
          <p><strong>Es porta bé amb gossos:</strong> {{ animal.compatibleGossos ? 'Sí' : 'No' }}</p>
        </div>
        <p class="funny-phrase">"{{ animal.fraseDivertida }}"</p>
      </div>
    </div>

    <!-- Formulario de contacto -->
    <div class="card contact-card" *ngIf="showContactForm">
      <div class="card-header">
        <i class="fas fa-envelope"></i>
        <h3>Contacta amb nosaltres</h3>
      </div>
      <div class="card-content">
        <form
          target="_blank"
          action="https://formsubmit.co/mrodrigoll13@gmail.com"
          method="POST"
          (submit)="onFormSubmit($event)"
        >
          <div class="form-group">
            <div class="form-row">
              <div class="col">
                <input type="text" name="name" class="form-control" placeholder="El teu nom" required />
              </div>
              <div class="col">
                <input type="email" name="email" class="form-control" placeholder="Email" required />
              </div>
            </div>
          </div>
          <div class="form-group">
            <textarea
              placeholder="Escriu el teu missatge"
              class="form-control"
              name="message"
              rows="10"
              required
            ></textarea>
          </div>
          <input
            type="hidden"
            name="_autoresponse"
            value="Gràcies per contactar amb nosaltres. Ens posarem en contacte amb tu aviat."
          />
          <input type="hidden" name="_next" value="https://domestius2.vercel.app/gracies" />
          <button type="submit" class="btn btn-lg btn-dark btn-block">Enviar</button>
        </form>
      </div>
    </div>
  </div>
</div>