.navbar-custom {
  background-color: #bfe3c0;
  color: black;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 70px; /* Define una altura fija */
}
.navbar-brand {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.navbar-logo {
  height: 80px;
  margin-right: 10px;
}

.nav-link {
  color: black;
  font-size: 1.5rem;
  margin-right: 15px;
  text-decoration: none;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #add8e6;
}

.user-icon {
  font-size: 1.5rem;
  color: white;
  transition: color 0.3s;
}

.user-icon:hover {
  color: #add8e6;
}