<nav class="navbar navbar-expand-lg navbar-custom">
    <div class="container-fluid">
     
        <a class="navbar-brand nav-link" href="#">
            <img src="assets/logo.png" alt="Domestius" class="navbar-logo">
        </a>

       
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/protectora']">Protectora</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/animal-publicacio']">Animals Perduts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/registrar-animal']">Registra un animla</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/perfil']">
                        <i class="fa-solid fa-user"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>