:root {
  --navbar-height: 70px; /* Define la altura de la navbar como una variable */
}

.navbar-custom {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--navbar-height); /* Usa la variable global */
  z-index: 1000;
  background-color: #add8e6;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
/* .navbar-custom {
  background-color: #add8e6;
  color: black;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 70px; /* Define una altura fija 
} */
.navbar-brand {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.navbar-logo {
  height: 80px;
  margin-right: 10px;
}

.nav-link {
  color: black;
  font-size: 1.5rem;
  margin-right: 15px;
  text-decoration: none;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #006181;
}

.user-icon {
  font-size: 1.5rem;
  color: white;
  transition: color 0.3s;
}

.user-icon:hover {
  color: #006181;
}