.container {
    display: flex;
    flex-direction: column;
    background-color: #bfe3c0;
    min-height: calc(100vh - 70px); 
    padding: 20px;
    margin-top: 70px;
}
    
.search-bar {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
    
.search-bar input {
    width: 300px;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
}
    
.search-bar button {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: -40px;
}
    
.content {
    display: flex;
}
    
.filters {
    width: 200px;
}
    
.filters h3 {
    cursor: pointer;
}
    
.filter {
    background: #ddd;
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
}
    
.animals-list {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
  
.animal-card {
    display: flex;
    align-items: center;
    background: #add8e6;
    border-radius: 20px;
    padding: 10px;
    position: relative;
    width: 80%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
  
.logo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 30px;
}
  
.info {
    flex-grow: 1;
    font-size: 0.9rem;
}
  
.arrow {
    font-size: 1.5rem;
    margin-right: 40px;
}

.lost {
    color: #ff6b6b;
    font-weight: bold;
  }
  
  .last-seen {
    color: #fdfd96;
    font-weight: bold;
  }
  
  .found {
    color: #9ff89f;
    font-weight: bold;
  }

  .footer-message {
    text-align: center;
    margin-top: auto; /* Empuja el contenido hacia abajo */
    padding: 20px;
    font-size: 2rem;
    color: #333;
    background-color: #bfe3c0; /* Fondo similar al resto de la página */
    border-top: 1px solid #ccc; /* Línea superior para separar */
  }

   /* fitxer styles.css o fitxer CSS del component */
 
/* Estils per a pantalles petites (menys de 576px) */
@media (max-width: 575px) {
  .container {
      max-width: 100%; /* Ajusta el max-width per a pantalles molt petites */
  }
}

/* Estils per a pantalles mitjanes (576px a 768px) */
@media (min-width: 576px) and (max-width: 767px) {
  .container {
      max-width: 100%; /* Ajusta el max-width per a pantalles petites */
  }
}

/* Estils per a pantalles mitjanes-altes (768px a 992px) */
@media (min-width: 768px) and (max-width: 991px) {
  .container {
      max-width: 100%; /* Ajusta el max-width per a pantalles mitjanes */
  }
}

/* Estils per a pantalles grans (992px a 1200px) */
@media (min-width: 992px) and (max-width: 1199px) {
  .container {
      max-width: 100%; /* Ajusta el max-width per a pantalles grans */
  }
}

/* Estils per a pantalles molt grans (1200px a 1400px) */
@media (min-width: 1200px) and (max-width: 1399px) {
  .container {
      max-width: 100%; /* Ajusta el max-width per a pantalles molt grans */
  }
}

/* Estils per a pantalles extra grans (1400px i més) */
@media (min-width: 1400px) {
  .container {
      max-width: 100%; /* Ajusta el max-width per a pantalles extra grans */
  }
}