<div class="protectora-detail-container">
  <div *ngIf="!errorMessage; else errorTemplate">
    <div class="protectora-info">
      <h2>{{ protectora?.usuari?.nom || 'Usuari desconegut' }}</h2>
      <p><strong>Adreça:</strong> {{ protectora?.direccion || 'No disponible' }}</p>
      <p><strong>Telèfon:</strong> {{ protectora?.telefono || 'No disponible' }}</p>
      <p><strong>Horari:</strong> {{ protectora?.horario_apertura || 'No disponible' }} - {{ protectora?.horario_cierre || 'No disponible' }}</p>
    </div>

    <div class="animal-list">
      <h3>Animals de la protectora</h3>
      <div *ngIf="animals.length > 0; else noAnimalsTemplate">
        <div class="animal-card" *ngFor="let animal of animals">
          <img [src]="animal.imatge" alt="{{ animal.nom }}" class="animal-image">
          <div class="animal-info">
            <p><strong>Nom:</strong> {{ animal.nom }}</p>
            <p><strong>Edat:</strong> {{ animal.edat || 'No disponible' }}</p>
            <p><strong>Espècie:</strong> {{ animal.especie }}</p>
            <p><strong>Estat:</strong> {{ animal.estat }}</p>
          </div>
        </div>
      </div>
      <ng-template #noAnimalsTemplate>
        <p class="no-animals-message">No hi ha animals associats a aquesta protectora.</p>
        <div class="button-container">
          <button class="action-button" routerLink="/registrar-animal">Vols registrar-ne un?</button>
        </div>
      </ng-template>
    </div>
  </div>

  <ng-template #errorTemplate>
    <div class="error-message">
      <p>{{ errorMessage }}</p>
    </div>
  </ng-template>
</div>

