<div class="container">
  <div class="search-bar">
    <input 
      type="text" 
      placeholder="Buscar animal..." 
      [(ngModel)]="searchQuery" 
      (input)="filterAnimals()" />
    <button><i class="fas fa-search"></i></button>
  </div>

  <div class="content">
    <div class="filters">
      <h3 (click)="toggleFilters()">FILTRES</h3>
      <div *ngIf="showFilters">
        <div *ngFor="let filtro of filtros" class="filter">
          <input 
            type="checkbox" 
            [checked]="selectedFilters.includes(filtro)" 
            (change)="toggleFilter(filtro)" 
          /> {{ filtro }}
        </div>
      </div>
    </div>

    <div class="animals-list">
      <div class="animal-card" *ngFor="let animal of animals" (click)="navigateToDetallAnimalPublicacio(animal.id)">
        <img [src]="animal.imatge" alt="Mascota" class="logo">
        <div class="info">
          <p><strong>Nom:</strong> {{ animal.nom }}</p>
          <p><strong>Edat:</strong> {{ animal.edat }}</p>
          <p><strong>Especie:</strong> {{ animal.especie }}</p>
          <p><strong>Raça:</strong> {{ animal['raça'] }}</p>
          <p><strong>Descripció:</strong> {{ animal.descripcio }}</p>
          <p><strong>Estat:</strong> {{ animal.estat }}</p>
        </div>
      
        <div class="actions">
          <!-- Botón para editar -->
          <button hidden
            class="action-button edit" 
            [routerLink]="['/editar-animal', animal.id]"
          
            >
            Editar
          </button>
          <!-- Botón para eliminar -->
          <button hidden
            class="action-button delete" 
            (click)="eliminarAnimal(animal.id)">
            Eliminar
          </button>
        </div>
      </div>
      <div class="footer-message">
        <p>Si ho veus, no ho ignoris, podries ser qui el faci tornar a casa.</p>
      </div>
    </div>
  </div>
</div>