<section class="row py-5">
  <div class="col-12 col-md-6 col-lg-4 offset-md-3 offset-lg-4">
    <div class="card">
      <div class="card-body">
        <h2 class="text-center my-4">Sign Up</h2>

        <!-- Errors -->
        <div class="alert alert-danger" *ngIf="errors?.name">
          {{ errors.name }}
        </div>
        <div class="alert alert-danger" *ngIf="errors?.email">
          {{ errors.email }}
        </div>
        <div class="alert alert-danger" *ngIf="errors?.password">
          {{ errors.password }}
        </div>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <!-- Campo Nombre -->
          <div class="mb-3">
            <label for="name" class="form-label">Nom</label>
            <input type="text" id="name" class="form-control" formControlName="name">
            <div *ngIf="registerForm.get('name')?.invalid && (registerForm.get('name')?.touched || registerForm.get('name')?.dirty)" class="text-danger">
              <small *ngIf="registerForm.get('name')?.hasError('required')">El camp nom és obligatori.</small>
              <small *ngIf="registerForm.get('name')?.hasError('minlength')">El nom ha de tenir almenys 3 caràcters.</small>
            </div>
          </div>
        
          <!-- Campo Email -->
          <div class="mb-3">
            <label for="email" class="form-label">Correu electrònic</label>
            <input type="email" id="email" class="form-control" formControlName="email">
            <div *ngIf="registerForm.get('email')?.invalid && (registerForm.get('email')?.touched || registerForm.get('email')?.dirty)" class="text-danger">
              <small *ngIf="registerForm.get('email')?.hasError('required')">El camp correu electrònic és obligatori.</small>
              <small *ngIf="registerForm.get('email')?.hasError('email')">El camp correu electrònic ha de ser vàlid.</small>
            </div>
          </div>
        
          <div class="mb-3">
            <label for="password" class="form-label">Contrasenya</label>
            <div class="password-wrapper">
              <input [type]="showPassword ? 'text' : 'password'" id="password" class="form-control" formControlName="password">
              <i class="toggle-password bi" [class.bi-eye-slash]="showPassword" [class.bi-eye]="!showPassword" (click)="togglePasswordVisibility()"></i>
            </div>
            <div *ngIf="registerForm.get('password')?.invalid && (registerForm.get('password')?.touched || registerForm.get('password')?.dirty)" class="text-danger">
              <small *ngIf="registerForm.get('password')?.hasError('required')">El camp contrasenya és obligatori.</small>
              <small *ngIf="registerForm.get('password')?.hasError('minlength')">La contrasenya ha de tenir almenys 6 caràcters.</small>
            </div>
          </div>
        
          <div class="mb-3">
            <label for="password_confirmation" class="form-label">Confirmació de contrasenya</label>
            <div class="password-wrapper">
              <input [type]="showPasswordConfirmation ? 'text' : 'password'" id="password_confirmation" class="form-control" formControlName="password_confirmation">
              <i class="toggle-password bi" [class.bi-eye-slash]="showPasswordConfirmation" [class.bi-eye]="!showPasswordConfirmation" (click)="togglePasswordConfirmationVisibility()"></i>
            </div>
            <div *ngIf="registerForm.get('password_confirmation')?.invalid && (registerForm.get('password_confirmation')?.touched || registerForm.get('password_confirmation')?.dirty)" class="text-danger">
              <small *ngIf="registerForm.get('password_confirmation')?.hasError('required')">El camp confirmació de contrasenya és obligatori.</small>
            </div>
            <div *ngIf="registerForm.hasError('passwordMismatch') && registerForm.get('password_confirmation')?.touched" class="text-danger">
              <small>Les contrasenyes no coincideixen.</small>
            </div>
          </div>
        
  
          <re-captcha
          siteKey="6LegCRErAAAAAHHHciXcBfnmaww-V0iS3yEW1Urx"
          (resolved)="onCaptchaResolved($event)">
        </re-captcha>
          <button type="submit" class="btn btn-lg w-100 btn-primary mt-1 mb-4">Sign Up</button>
          <a routerLink="/login" class="d-block text-center mb-4">Ja tinc un compte</a>
        </form>
      </div>
    </div>
  </div>
</section>
