<div class="container">
  <div class="search-bar">
    <input 
      type="text" 
      placeholder="Buscar protectora..." 
      [(ngModel)]="searchQuery" 
      (input)="filterProtectoras()" />
    <button><i class="fas fa-search"></i></button>
  </div>

  <div class="content">
    <div class="filters">
      <h3 (click)="toggleFilters()">FILTRES</h3>
      <div *ngIf="showFilters">
        <div *ngFor="let filtro of filtros" class="filter">
          <input type="checkbox" (change)="applyFilter(filtro)" /> {{ filtro }}
        </div>
      </div>
    </div>

    <div class="protectoras-list">
      <div 
        *ngFor="let protectora of filteredProtectoras" 
        class="protectora-card" 
        (click)="goToProtectoraDetails(protectora.id)">
        <img [src]="protectora.imatge" alt="Logo" class="logo">
        <div class="info">
          <p><strong>Nombre:</strong> {{ protectora.usuari?.nom }}</p>
          <p><strong>Dirección:</strong> {{ protectora.direccion }}</p>
          <p><strong>Teléfono:</strong> {{ protectora.telefono }}</p>
        </div>
        <div class="arrow">&gt;</div>
      </div>
      <div class="footer-message">
        <p>On cada història compta i cada vida importa.</p>
      </div>
    </div>
  </div>
</div>