.img-fluid {
    width: 300px; /* Ajusta el tamaño de la imagen */
    height: auto; /* Mantén la proporción de la imagen */
  
    margin-right: 15px; /* Añade un margen a la derecha para separar el texto */
    border-radius: 10px; /* Opcional: redondea las esquinas de la imagen */
  }