.details-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  gap: 20px;
  padding: 20px;
  max-width: 100%;
  margin: calc(var(--navbar-height) + 20px) auto calc(var(--footer-height) + 20px);
}

.animal-details {
  flex: 1;
  max-width: 45%;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 15px;
  background-color: #fff;
}

.interactions {
  flex: 1; 
  max-width: 45%; 
  padding: 15px; 
  background-color: transparent;
  border: none; 
}
.map-container {
  margin-top: 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  background-color: #f9f9f9;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  height: 200px;
  width: 100%;
  display: flex;
}

#map {
  flex: 1;
  width: 100%;
  height: 100%;
  border-radius: 0;
}
.interaction-card {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 15px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.interaction-card:last-child {
  margin-bottom: 0;
}

.logo {
  width: 150px;
  height: 150px;
  margin-bottom: 10px;
  border-radius: 50%;
}

.add-interaction-form {
  margin-top: 20px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.add-interaction-form h3 {
  margin-bottom: 15px;
  color: #333;
  text-align: center;
}

.add-interaction-form .form-group {
  margin-bottom: 15px;
}

.add-interaction-form .form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #555;
}

.add-interaction-form .form-group input,
.add-interaction-form .form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.add-interaction-form button.action-button {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  color: white;
  background-color: #4caf50;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.add-interaction-form button.action-button:hover {
  background-color: #45a049;
  transform: scale(1.05);
}

.add-interaction-form button.action-button:active {
  transform: scale(1);
}