.añadir-publicacio-container {
    max-width: 600px;
    margin: calc(var(--navbar-height) + 20px) auto calc(var(--footer-height) + 20px);
    padding: 20px;
    background-color: #add8e6;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .añadir-publicacio-container h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
  }
  
  .form-group input,
  .form-group textarea,
  .form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  button.action-button {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    color: white;
    background-color: #4caf50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
  }
  
  button.action-button:hover {
    background-color: #45a049;
    transform: scale(1.05);
  }
  
  button.action-button:active {
    transform: scale(1);
  }
  .action-button {
  border-radius: 50%;
  }
  .bone {
    position: relative;
    width: 200px; /* Aumenta el ancho del hueso */
    height: 80px; /* Aumenta la altura del hueso */
    cursor: pointer;
    background: transparent;
    border: none;
  }
  
  .c1, .c2, .c3, .c4 {
    background: #b7d608;
    height: 40px; /* Aumenta el tamaño de los círculos */
    width: 40px; /* Aumenta el tamaño de los círculos */
    border: 1px solid #000;
    border-radius: 50%;
    position: absolute;
  }
  
  .c1 { left: 0; top: 0; }
  .c2 { right: 0; top: 0; }
  .c3 { left: 0; bottom: 0; }
  .c4 { bottom: 0; right: 0; }
  
  .b1 {
    background: #b7d608;
    height: 40px; /* Aumenta la altura del cuerpo */
    width: 160px; /* Aumenta el ancho del cuerpo */
    position: absolute;
    left: 20px; /* Ajusta la posición horizontal */
    top: 20px; /* Ajusta la posición vertical */
  }
  
  .b2 {
    position: absolute;
    left: 20px; /* Ajusta la posición horizontal del texto */
    top: 0;
    width: 120px; /* Aumenta el ancho del área de texto */
    height: 40px; /* Aumenta la altura del área de texto */
    line-height: 40px; /* Centra verticalmente el texto */
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    text-align: center;
    font-size: 1rem; /* Ajusta el tamaño del texto */
  }
  .center-container {
    display: flex; /* Usa Flexbox */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    margin: 20px 0; /* Añade un margen razonable arriba y abajo */
    height: auto; /* Ajusta la altura al contenido */
  }
  .error-message {
    color: red;
    font-size: 0.9rem;
    margin-top: 5px;
  }