<div class="añadir-publicacio-container">
  <h2>Afegir Publicació</h2>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="tipus">Titol</label>
      <input
        type="text"
        id="tipus"
        [(ngModel)]="publicacio.tipus"
        name="tipus"
        required
      />
    </div>
    <div class="form-group">
      <label for="detalls">Detalls</label>
      <textarea
        id="detalls"
        [(ngModel)]="publicacio.detalls"
        name="detalls"
        required
      ></textarea>
    </div>
    <div class="form-group">
      <label for="animal">Animal</label>
      <select
        id="animal"
        [(ngModel)]="publicacio.animal_id"
        name="animal"
        required
        [disabled]="animals.length === 0"
      >
        <option *ngFor="let animal of animals" [value]="animal.id">
          {{ animal.nom }}
        </option>
      </select>
      <p *ngIf="animals.length === 0" class="error-message">
        No tens cap animal registrat. Si us plau, registra un animal abans de crear una publicació.
      </p>
    </div>
    <div class="center-container">
      <button
        class="bone back-bone"
        type="submit"
        [disabled]="animals.length === 0"
      >
        <div class="c1"></div>
        <div class="c2"></div>
        <div class="c3"></div>
        <div class="c4"></div>
        <div class="b1">
          <div class="b2">Afegir Publicació</div>
        </div>
      </button>
    </div>
  </form>
</div>